---

- name: Create Kubegres CRD and operator
  kubernetes.core.k8s:
    state: present
    apply: true
    definition: "{{ lookup('template', '1.19/kubegres.yaml.j2') }}"

- name: Wait for Kubegres operator rollout to complete
  shell: /bin/bash -c "kubectl rollout status --watch --timeout=600s deployment.apps/kubegres-controller-manager -n kubegres-system"
