book
keys.yml
*.txt
target
*.bak
binaries
built
.vscode
.DS_Store

# ignore Thorium configs to avoid exposing sensitive info
**/thorium*.yml

# allow template and test configs
!api/thorium-template.yml
!api/tests/thorium-testing.yml

# python
**/.venv
python/thorpy/main.py
