---

- name: Load vault secrets
  ansible.builtin.include_vars:
    file: ./artifacts/secrets.yml
  ignore_errors: true # handle when vault does not yet exist

- name: Create Elastic password (if not set)
  ansible.builtin.set_fact:
    elastic_password: "{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_letters', 'digits'], length=48) }}" 
  when: elastic_password is not defined

- name: Create Redis password (if not set)
  ansible.builtin.set_fact:
    redis_password: "{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_letters', 'digits'], length=48) }}" 
  when: redis_password is not defined

- name: Create Scylla password (if not set)
  ansible.builtin.set_fact:
    scylla_password: "{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_letters', 'digits'], length=48) }}" 
  when: scylla_password is not defined

- name: Create Quickwit Postgres replication password (if not set)
  ansible.builtin.set_fact:
    quickwit_postgres_rep_password: "{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_letters', 'digits'], length=48) }}" 
  when: quickwit_postgres_rep_password is not defined

- name: Create Quickwit Postgres superuser password (if not set)
  ansible.builtin.set_fact:
    quickwit_postgres_super_password: "{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_letters', 'digits'], length=48) }}" 
  when: quickwit_postgres_super_password is not defined

- name: Create Thorium secret (if not set)
  ansible.builtin.set_fact:
    thorium_secret: "{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_letters', 'digits'], length=48) }}" 
  when: thorium_secret is not defined

- name: Create s3 access key (if not set)
  ansible.builtin.set_fact:
    s3_access_key: "{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_letters', 'digits'], length=20) }}"
  when: s3_access_key is not defined

- name: Create s3 secret key (if not set)
  ansible.builtin.set_fact:
    s3_secret_key: "{{ lookup('ansible.builtin.password', '/dev/null', chars=['ascii_letters', 'digits'], length=40) }}"
  when: s3_secret_key is not defined

- name: Save secrets to unencrypted vault file
  ansible.builtin.lineinfile:
    path: artifacts/tmp-secrets.yml
    line: "{{ item }}: '{{ vars[item] }}'" 
    state: present
    create: yes
  loop:
    - "s3_access_key"
    - "s3_secret_key"
    - "elastic_password"
    - "redis_password"
    - "quickwit_postgres_super_password"
    - "quickwit_postgres_rep_password"
    - "scylla_password"
    - "thorium_secret"
  when: vars[item] is defined and vars[item] != ""

- name: Encrypt temp secrets file
  command: "ansible-vault encrypt ./artifacts/tmp-secrets.yml --ask-vault-password --output {{ vault_path }}"
  when: vault_password_file is not defined

- name: Encrypt temp secrets file
  command: "ansible-vault encrypt ./artifacts/tmp-secrets.yml --vault-password-file {{ vault_password_file }} --output {{ vault_path }}"
  when: vault_password_file is defined

- name: Remove unencrypted vault file
  file:
    path: "./artifacts/tmp-secrets.yml"
    state: absent
