apiVersion: v1
kind: Secret
metadata:
  name: postgres-cluster-auth
  namespace: "{{ quickwit_namespace }}"
type: Opaque
stringData:
  superUserPassword: "{{ quickwit_postgres_super_password }}" 
  replicationUserPassword: "{{ quickwit_postgres_rep_password }}"
