// spacing needs to be set before bootstrap is imported
@use 'sass:map';
@use './colors';

// we explicitly overwrite bootstrap spacing to enable more margin/padding options
@use 'bootstrap/scss/bootstrap' with (
  $spacer: 1rem,
  $spacers: (
    0: 0,
    1: 0.1rem,
    2: 0.25rem,
    3: 0.5rem,
    4: 1rem,
    5: 2rem,
    6: 3rem,
    7: 4rem,
    8: 5rem,
    9: 6rem,
    10: 7rem,
  )
);

@use 'app';
@use 'overrides';
@use 'scaling';
@use 'legacy/accordion';
@use 'legacy/buttons';
@use 'legacy/comments';
@use 'legacy/details';
@use 'legacy/groups';
@use 'legacy/icons';
@use 'legacy/image';
@use 'legacy/logs';
@use 'legacy/navigation';
@use 'legacy/overlays';
@use 'legacy/pipelines';
@use 'legacy/reactions';
@use 'legacy/results';
@use 'legacy/tags';
@use 'legacy/titles';
@use 'legacy/tool';
@use 'legacy/upload';
@use 'legacy/users';
