---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: minio
  labels:
    app: minio
  namespace: "{{ minio_namespace }}"
spec:
  serviceName: minio
  replicas: {{ minio_replicas }}
  selector:
    matchLabels:
      app: minio
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
        - name: minio
          image: "{{ minio_registry }}/{{ minio_image }}:{{ minio_version }}"
          resources:
            requests:
              cpu: "{{ minio_cpu_requests }}"
              memory: "{{ minio_memory_requests }}"
            limits:
              cpu: "{{ minio_cpu_limits }}"
              memory: "{{ minio_memory_limits }}"
          command:
            - /bin/bash
            - -c
          args: 
            - minio server /data
          volumeMounts:
            - mountPath: /data
              name: minio-data
          env:
            - name: MINIO_ACCESS_KEY
              value: "{{ s3_access_key }}"
            - name: MINIO_SECRET_KEY
              value: "{{ s3_secret_key }}"
  volumeClaimTemplates:
    - metadata:
        name: minio-data
      spec:
        storageClassName: "{{ storage_class }}"
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: "{{ minio_volume_size }}"

---
apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: "{{ minio_namespace }}"
spec:
  selector:
    app: minio
  ports:
  - port: 80
    targetPort: 9000
    name: minio-web
    protocol: TCP
  type: ClusterIP

