.accordion-item-ownership {
  display: flex;
  flex: 4;
}

.accordion-item-name {
  flex: 4;
}

// relation gap, for groups this is the role field
.accordion-item-relation {
  flex: 3;
}

.accordion-item-status {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
