.comments {
  max-height: 1800px;
}

.single-comment {
  height: 'auto';
  overflow: auto;
  overflow-y: scroll;
}

.attachment-card {
  width: 80% !important;
}

.comment-entry {
  width: 80%;
  height: 150px;
}
